.title {
    color:darkblue;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px; 
    display: flex;
    flex-direction: row;
}
.right {
    color:navy;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-weight: 800;
}
.relative {
    position: relative;
    z-index: 10;
}
.relative__img {
    position: relative;
    margin: 0 0 0 auto;
    width: 48%;
    height: 400px;
    float: right;
    transform: translate(0px, 50px);
    z-index: 10;
}
.absolute {
    position: absolute;
    height: 170px;
    width: 70%;
    background-color:darkblue;
    transform: translate(0px, 250px);
    z-index: 0;
}
.sub-title {
    font-size: 80px;
    transform: translate(0px, 250px);
}
